<div class="row">
  <div class="small-4 columns">
    <%= image_tag(@user.profile_photo) %>
    <h4>@<%= @user.user_name %></h4>
  </div>
  <div class="small-8 columns">
    Coming Soon: Stats
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    High Charts n stuff
  </div>
  <div class="small-6 columns">
    Jounal Entries index
  </div>
</div>
