<div class="home-page">
  <div class="row">
    <div class="small-10 medium-6 small-centered columns welcome">
      <h1 class="home-font">Swell</h1>
      <h1 class="home-font">Journal</h1>
    </div>
  </div>
</div>
