/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);

.home-page {
  background: url("/assets/panama_lineup.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.welcome {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
  margin-top: 60px;
  padding: 0;
}

.home-font {
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
}

.home-form {
  color: #ffffff;
}

.entries {
  background-color: #ffffff;
  border: 1px solid #999999;
  list-style: none;
  margin: 15px;
  text-align: center;
}

body {
  background-color: #e0e0e5;
}

.stats {
  background-color: #ffffff;
  border: 10px solid #e0e0e5;
  text-align: center;

}

#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
 }
 #map-canvas {
  height: 100%;
  width: 100%;
 }
